<h1>User#show</h1>

<% if @user.name %>
	<p>current user is => <%= @user.name %></p>
	<td><%= link_to "make new event!", new_event_path %><td><br/>
<% else %>
	<p>no one is currently logged in</p>
<% end %>

<% if @events#binding.pry %>
	<% @events.each do|event| %>
	<% #binding.pry %>
	date: <%= event[:date]%> <br />
	description: <%= event.description %> <br />
	<% end %>
	
<% end %>